# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment (si utilisé localement)
env/
venv/
.venv/

# Node list config and data cache
nodes.json
._nodes.json
data_cache.json
._data_cache.json
data_logical.json
._data_logical.json

# OS/macOS/IDE
.DS_Store
._.DS_Store
Thumbs.db
.vscode/
.idea/
._*
.smbdelete*

# Logs / backups
*.log
*.bak
*.tmp

# Python dotenv
.env
